.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
.fasthand-regular {
  font-family: "Fasthand", cursive;
  font-weight: 400;
  font-style: normal;
}
.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}
.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 200;
  font-style: normal;
}

* {
  margin-right: 0px;
  padding: 0px;
}
body {
  /* background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  background-color: rgba(35, 35, 35, 1);
}
header {
  background-color: rgba(35, 35, 35, 1);
}

/* Shared styles */

.border {
  border: 1px solid rgb(255, 255, 255);
}
.nav-items {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
  padding-top: 50px;
}
header nav .brand {
  margin-left: rem;
  color: rgb(230, 83, 60);
  text: bold;
}
.hambarger {
}
}
#jn button {
  background-color: rgb(230, 83, 60);
  border-color: none;
  /* margin-right: 10px; */
}





.havit div{
  display: flex;
  justify-content: center;
}
.havit h3{
  color: white;
}
.havit p{
  color: rgba(255, 255, 255, 0.5);
}
.havit .image{
  /* background-image: url(images/Images\ 2.png); */
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.havit .image .card{
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  width: 150px;
  height: 80px;
  /* display: flex;
  flex-direction: column; */
  border-radius: 10px;
  display: block;
  /* margin: 0; */

}
.havit .image #videos{
  /* margin-left: 180px; */
  text-align: center;
  padding-top: 0;
  /* color: aqua; */
}
.havit .image #tutorial{
  /* margin-left: 200px; */
}
#videos p{
  /* text-size-adjust: 12px; */
  padding-bottom: 4px;
  /* color: aquamarine; */
  margin-bottom: 3px;
  /* padding-top: 2px; */
  margin-top: 0;
}

#videos h1{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* #videos{
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin: 0;
} */
#tutorial{
  text-align: center;
  padding-top: 0px;
  font-size: 12px;


}
.image .card p{
  /* text: 70px; */
  font-size: 15px;
  /* color: aqua; */
  padding-bottom: 5px;
}
#tutorial div{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: orangered;
}







/* Phone screen */

@media screen and (max-width: 576px) {
  header .nav-buttons {
    display: none;
  }
  .hambarger {
    /* display: flex;
        flex-direction: row; */
    margin-top: 20px;
    margin-right: 50px;
  }
  .hambarger .hb-lines {
    /* height: 0.002rem;
        width: 1rem;
        background-color: black; */
    height: 2.5px;
    width: 28px;
    margin-top: 2px;

    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  }
  .body {
    margin-right: 20px;
  }
  .buttons {
    display: flex;
    justify-content:space-around;
    margin-right: 20px;
    margin-left: 20px;
  }
  #jcn {
    display: none;
  }
  #jcn button {
    background-color: rgb(230, 83, 60);
    border-color: none;
    margin-right: 10px;
  }
  #da button {
    background-color: rgba(35, 35, 35, 1);
  }
  .buttons .link button {
    height: 54px;
    width: 169;
    border-radius: 42px;
    color: white;
    padding: 16px 40px;
    border-color: none;


  }
  .buttons .link {
    border-color: none;
    
  }
  #jn button{
    background-color: rgb(230, 83, 60);
  }
  .havit .image{
    background-image: url(images/Images\ 2.png);
  }
  .havit .image #videos{
    margin-left: 180px;
  }
  .habit image{
    width: 400px;
  }
  .bg-forpc img{
    display: none;
  }


}





/* Computer screen */

@media screen and (min-width: 576px) {
  header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    margin-right: 20px;
    margin-top: 5px;
  }
  body{
    margin-left: 100px;
  }
  header ul a {
    color: white;
    text-decoration: none;
    margin: 5px;
    margin-left: 40px;
  }
  .nav-buttons {
    border: 1px solid rgba(255, 255, 255, 0.616);
    border-radius: 30px;
    margin: auto;
    margin-right: 50px;
    padding: 10px 10px;
    padding-left: 10px;
  }
  .nav-buttons .item-1 {
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
    /* display: inline-block; */
    display: flex;
    width: 120px;
    /* justify-content: space-between; */

    /* margin: auto;
        padding: auto; */
    /* text-align: center; */
    /* border: 2px solid green; */
  }
  .nav-buttons .item-1 a {
    text-align: center;
    /* width: 1px; */
  }
  .nav-button-item {
    margin: auto;
    padding: auto;
    /* margin-right: 10px; */
  }
  .body {
    margin-right: 20px;
  }
  .buttons {
    display: flex;
    /* justify-content: space-between; */
  }
  #jn {
    display: none;
  }
  #jcn button {
    background-color: rgb(230, 83, 60);
    border-color: none;
    margin-right: 10px;
  }
  #da button {
    background-color: rgba(35, 35, 35, 1);
  }
  .buttons .link button {
    height: 54px;
    width: 169;
    border-radius: 42px;
    color: white;
    padding: 16px 40px;
    border-color: none;


  }
  .buttons .link {
    border-color: none;
  }
  .habit .image{
    /* display: relative; */
  }
  .info-card .bg-forpc img{
    position: absolute;
    left: 55%;
  }
  #videos{
    position: absolute;
    left: 70%;
    bottom: 50%;
  }
   #tutorial{
    position: absolute;
    left: 40%;
    bottom: -150px;
   }



}
